body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

nav img{
  width: 400px;
  height: 160px;
  display: flex;
  align-self: flex-start;
  margin-left: 110px;
}

.form-select1{
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin-top: -30px;
  gap: 20px;
}

#boton{
  display: flex;
  justify-content: center;
  background-color: #dc3545;
  border: none;
}

#boton:hover{
  background-color: #64000a;
  transition: 0.5s;
  transform: scale(1.05);
}

main .section-menu{
  display: flex;
  justify-content: center;
}

.section-menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  gap: 30px;
}

.fila-1{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.fila-2{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.fila-1 .card a #boton{
  display: flex;
  align-items: flex-end;
  
}

.card{
  display: flex;
}

footer img{
  width: 250px;
  height: 100px;
}

footer{
  width: 100%;
  height: 200px;
  background-color: #3d0107;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode{
  background-color: black;
  color: white;
}

.dark-mode .card{
  background-color: rgb(74, 74, 74);
  color: white;
}
